@charset "UTF-8";

/*Typical Device Points
------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
@media screen and (max-width: 768px){
    section#login{
        border-radius: 20px;
    }
    section#login > div#imagem{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

}
@media screen and (min-width: 768px) and (max-width:992px)/*Tablets*/{
    body{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to bottom, #192835, #FF7D00,#130D0B);
        background-repeat: no-repeat;
    }
    

    section#login{
        width: 80vw;
        overflow: hidden;
    }

    section#login > div#imagem{
        background-position:center center;
        
        float: left;
        width: 30%;
        height: 100%;

        
       
           
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }

}

@media screen and (min-width:992px){
    body{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to bottom, #192835, #FF7D00,#130D0B);
        background-repeat: no-repeat;
    }
    section#login{
        width: 950px;
        
       
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;

         border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }
}
